body{
    background-color: crimson;
    text-align: center;
}

h1{
    color: darkgoldenrod;
    font-family: fantasy;
    font-style: italic;
}

p{
    color: darkgoldenrod;
    font-family: cursive;
    font-style: italic;
}
img{
    width: 45%;
    height: 45%;
   
}